FLASK_ENV=development
FLASK_APP=run.py
SECRET_KEY=change-this-secret-key
DATABASE_URL=postgresql+psycopg2://zeenkaar_user:zeenkaar_pass@db:5432/zeenkaar_db
PORT=5000
POSTGRES_USER=zeenkaar_user
POSTGRES_PASSWORD=zeenkaar_pass
POSTGRES_DB=zeenkaar_db
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
