FLASK_ENV=production
PORT=5000
PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
SECRET_KEY=change-this-secret
DATABASE_URL=postgresql+psycopg2://femcare:femcare@db:5432/femcare
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@femcare.ai
ADMIN_PASSWORD=admin123
